body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    background: #fff;
    color: #fff;
    overflow: hidden;
}
.sq{
    padding: 0;
    margin: 0;
    left: 5%;
    top: 5%;
    right: 5%;
    /* width: 90%; */
    /* height: 70%; */
    bottom: 30%;
    /* stroke-width: 5px; */
    position: absolute;
    /* background-color: black; */
    border: 10px solid black;
}
#mooveframe {
    padding: 0;
    margin: 0;
    left: 5%;
    top: 5%;
    right: 5%;
    width: 90%;
    height: 70%;
    bottom: 30%;
    /* stroke-width: 5px; */
    position: absolute;
    /* background-color: black; */
    /* border: 10px solid black; */
}